{% extends 'includes/_liste-documents.html.twig' %}

{% block title %}Attestations de travail{% endblock %}

{% block titre %}Attestations de travail{% endblock %}
 
{% block col_head %}
    <th><i class="fa fa-bell-o" aria-hidden="true"></i> Statut</th>
{% endblock %}

{% block col_body %}
    <td><span class="btn btn-sm rounded-pill btn-danger">{{ document.statut}}</span></td>              
{% endblock %}

{% block buttons %}
    <a href="{{ path('admin_document', {repo: 'AttestationTravail', id: document.id}) }}" class="btn btn-warning btn-sm">
        <i class="fa fa-eye" aria-hidden="true"></i> Voir
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'AttestationTravail', id: document.id, etat: 'Disponible'}) }}" class="btn btn-info btn-sm">
        <i class="fa fa-hourglass-end" aria-hidden="true"></i> Disponible
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'AttestationTravail', id: document.id, etat: 'Reçu'}) }}" class="btn btn-success btn-sm">
        <i class="fa fa-check" aria-hidden="true"></i> Reçu
    </a>
{% endblock %}