{% extends 'includes/_liste-documents.html.twig' %}

{% block title %}Attestations de salaire{% endblock %}

{% block titre %}Attestations de salaire{% endblock %}

{% block col_head %}
    <th>Statut</th>
    <th>Type</th> 
{% endblock %}

{% block col_body %}
    <td>{{ document.statut | typedemande | raw }}</span></td>            
    <td><span class="badge rounded-pill badge-gradient-light text-dark"> {{document.type}} </span></td>              
{% endblock %}
 
{% block buttons %}
    <a href="{{ path('admin_change_statut', {repo: 'AttestationSalaire', id: document.id, etat: 'Disponible'}) }}" class="btn btn-outline-secondary btn-sm btn-icon-text">
        <i class="mdi mdi-av-timer btn-icon-prepend" aria-hidden="true"></i> Disponible
    </a>
    <a href="{{ path('admin_change_statut', {repo: 'AttestationSalaire', id: document.id, etat: 'Reçu'}) }}" class="btn btn-outline-secondary btn-sm btn-icon-text">
        <i class="mdi mdi-check-all btn-icon-prepend" aria-hidden="true"></i> Reçu
    </a>
{% endblock %}