{% extends 'admin/slide.html.twig' %}

{% block title %}{{ titre }}{% endblock %}
 
{% block body %}
      {% include "_form.html.twig" %}
      {% if titre == 'ajout d\'un personnel' %}
      <center>
            <h6 class="alert-light text-danger"><i class="fa fa-warning" aria-hidden="true"></i> Il faut ajouter d'abord le personnel puis remplir le PV ou/et demander au personnel de remplir la fiche</h6><br>
            <a href="{{ path('admin_PV', {id: personnel.id}) }}" class="btn btn-primary">Remplir le PV</a>
            <a href="{{ path('remplir_fiche', {id: personnel.id}) }}" class="btn btn-secondary">Demander à l'utilisateur de remplir la fiche</a>
      </center>
      <br>
      {% endif %}
{% endblock %}
