{% extends 'admin/_liste-documents.html.twig' %}

{% block title %}Fiches de renseignement{% endblock %}
 
{% block titre %}Fiches de renseignement{% endblock %}

{% block buttons %}
    <a href="{{ path('admin_document', {repo: 'FicheRenseignement', id: document.id}) }}" class="btn btn-warning btn-sm">
        <i class="fa fa-eye" aria-hidden="true"></i> Voir
    </a>
{% endblock %}