{% extends 'user/slide.html.twig' %}

{% block title %}Fiche de renseignement{% endblock %}
 
{% block body %}
    <div class="modal__content"><h1>Fiche de renseignement</h1>
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
    {% endfor %}
            {{ form_start(form) }}
            <ul class="form-list">
                <li class="form-list__row">            
                    {{ form_widget(form) }}
                </li>
            </ul>
            {{ form_end(form) }}
      </div>
{% endblock %}