{% extends 'admin/slide.html.twig' %}

{% block title %}Acceuil{% endblock %}
 
{% block body %}
    <div>
        <center><img src="../assets/images/logo.png" style="align: right; " width="370px"></center>
        <hr> 
        
      
</div>
        
{% endblock %}