{% extends 'user/slide.html.twig' %}


{% block title %}{{ titre }}{% endblock %}
 
{% block body %}
<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-file-document-box"></i>
        </span> {{ titre }}
    </h3>
</div>

{% include "includes/_form.html.twig" %}

{% endblock %}