{% extends 'user/slide.html.twig' %}

{% block title %}Historique{% endblock %}
 
{% block body %}

<div class="page-header">
    <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white mr-2">
            <i class="mdi mdi-format-list-bulleted"></i>
        </span> historique de mes demandes
    </h3>
</div>

 <div class="card">
    <div class="card-body"> 
        {% if documents|length > 0 %}   
        <div class="table-responsive"> 
            <table class="table">
                <thead>
                    <tr>
                        <th>Type de la demande</th>
                        <th>Date d'envoi</th>
                        <th>Date de reçu/refus</th>                   
                    </tr>
                </thead>          
                <tbody>
                    {% for document in documents %}
                        <tr>
                            <td>{{ document.typeDemande | type  | raw}}</td>
                            <td>{{ document.dateEnvoi | date('d/m/Y à H:i') }}</td>
                            <td>{{ document.dateRecu | date('d/m/Y à H:i') }}</td>
                        </tr>      
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
                <center><p class="badge rounded-pill bg-danger">Vous n'avez effectué aucune demande</p></center>
            {% endif %}
            <div class="pagination mt-4">
                {{knp_pagination_render(documents) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}