{% extends 'user/slide.html.twig' %}

{% block title %}Acceuil - Admin{% endblock %}
 
{% block body %}
    <div>
        <center><img src="../assets/images/logo.png" style="align: right; " width="370px"></center>
        <hr> 
    <h1>Bienvenue {{app.user.username}}</h1>
</div>

{% endblock %}